@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    height: 100%;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;
}

#LinesPage {
    width: 100%;
    height: 100%;
}

p {
    padding: 0px;
    margin: 0;
}

.topBarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0;
    border: none;
    cursor: pointer;
}

.lineButton {
    display: flex;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    width: 90px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 0;
    font-family: 'Jost';
    font-weight: 400;
}

#gold {
    background-color: rgb(255,215,0);
    margin-left: 10px;
    margin-right: 10px;
}
#gold:hover {
    background-color: rgb(209, 178, 0);
}

#red {
    background-color: rgb(228, 78, 78);
    margin-left: 10px;
    margin-right: 10px;
}

#red:hover {
    background-color: rgb(174, 60, 60);
}

#blue {
    background-color: rgb(81, 81, 249);
    margin-left: 10px;
    margin-right: 10px;
}

#blue:hover {
    background-color: rgb(48, 48, 165);
}

#green {
    background-color: rgb(54, 151, 54);
    margin-left: 10px;
    margin-right: 10px;
}

#green:hover{
    background-color: rgb(0, 95, 0);
}

.divider{
    width: 100%;
    height: 4px;
    background-color: rgb(240,240,240);
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
}
.topBarContainer h1 {
    display: flex;
    font-family: 'Jost';
    font-size: 4em;
    font-weight: 470;
}

.topBarContainer button {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.1em;
}

#leftSidebar {
    height: 106.5%;
    width: 20%;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectYour {
    display: flex;
    margin: 0;
    font-family: "Jost";
    color: rgb(180,180,180);
}

#locationButtonsContainer {
    height: 100%;
    width:100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.locationButton {
    width: 80%;
    height: 30px;
    display: flex;
    background-color: rgb(30,30,30);
    border-bottom:rgb(150,150,150) solid 0.5px;
    font-family: "Jost";
    font-weight: 300;
    color: white;
    font-size: 1em;
    align-items: end;
    justify-content: center;
    margin-top: 2px;
}

.locationButton:hover {
    color: rgb(180, 180, 180);
}

#directionBar {
    width:100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

#directionBar button {
    display: flex;
    margin: 0;
    width: 230px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 0;
    font-family: 'Jost';
    font-weight: 400;
    border: solid black 2px;
    background-color: white;
}

#directionBar button:hover {
    background-color: rgb(230,230,230);
}

#directionBarAndDividerContainer {
    width: 100%;
}

#TrainList {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#dataBox{
    height: 100%;
    overflow: auto;
    display:flex;
    flex-direction: column;
}

#loading {
    display:flex;
    justify-content: center;
    height:100%;
}

#loading p {
    display:flex;
    font-family: Jost;
    font-size: 3em;
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
}

.train {
    display:flex;
    width:100%;
    height: 80px;
    border-bottom: solid rgb(230,230,230);;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-left: 20px;
    display: flex;
    height: 100%;
    width: 200px;
    background-image: url('./pages/images/martaLogo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.infoBox {
    height: 100%;
}

.timeBox {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    font-family: "Jost";
}

.timeBox p {
    margin-left: 10px;
    font-size: 1.1em;
    color:green;
    font-weight: 500;
}

.infoBox {
    display: flex;
    flex-direction: column;
}

.destination {
    height: 55%;
    width: 100%;
}

.details {
    height: 45%;
    width: 100%;
}

.destination {
    display: flex;
    align-items: end;
}

.destination p {
    font-family: "Jost";
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    font-size: 1.2em;
}

.details {
    display:flex;
    padding-left: 10px;
}

.details p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    font-family: "Jost";
}

.tag {
    display: inline-block;
    cursor: default;
    font-family: "Jost";
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-right: 10px;
    border-radius: 4px;
}

.timeTag {
    background-color: rgb(230,230,230);
}

.destinationText {
    font-weight: 500;
}